
@media (max-width: 1103px){
.main{ padding-left:0px;}
 }
 
/*寬最大1200px*/
@media (min-width: 1200px) {
	.alert-result table.table-nobordered th{ width:80px;}
	
}
@media (max-width: 1200px) {
	
.sidebar{ width:35%; float:left; padding:0 20px 0 0;}
.content{float:left; width:60%;}

.alert-result table.table-nobordered th{ width:80px;}
.SearchBar select{ width:80%;}
.SearchBar input.search-query{ width:60%;}
}

@media (max-width: 950px) {
	
.sidebar{ width:45%; float:left; padding:0 20px 0 0;}
.content{float:left; width:50%;}
}

/*寬最大767px*/
@media (max-width: 768px) {
	
	/*側邊選單*/

	
	.sidebar,.content{ width:100%; float:none; padding:0;}
	
	.btn-collapse-menu{ display:block; border:#f0831e solid 2px; padding:0 0 0 10px; line-height:50px; background:none; width:100%; border-radius:0; text-align:left; font-size:15px; font-weight:bold;  }
	.btn-collapse-menu:after{ content:"▼"; color:#fff; font-size:6px; padding:0; background:#f0831e; width:48px; display:inline-block; float:right; text-align:center; vertical-align:central;}
	#collapse-menu{}
	#collapse-menu.collapse{ height:0;}
	
	#SideIntro{ display:none;}
	
	/*會員狀態*/
	#MemberStatus{white-space:nowrap;text-overflow:ellipsis; background:#f0f0f0; margin:0 0 5px 0; padding:0 100px 0 10px;  vertical-align:top; height:50px; line-height:50px; overflow:hidden; }
	#MemberStatus span{ display:none;}
	#MemberStatus ul{ margin:0;}
	#MemberStatus ul li{ display:inline-block;}
	#MemberStatus a.btn-edit{ top:0; border:none; width:50px; height:50px; display:inline-block; background:#db0100;}
	#MemberStatus a.btn-edit:before{ margin:15px 0 0 3px;}

.alert-result table.table-nobordered th{ width:auto;}

.ContactSet .span2{ text-align:left;}	



.FlowStyle2 .mask{ background:url(../img/Progressbars_10.png) no-repeat left top; width:100%; background-size:100% 100%; height:100%; display:block; position:absolute;}
}
@media (max-width: 765px) {
	.main{ width:100%;}
	header{ height:80px;}
	
	}

/*寬最大480px*/
@media (max-width: 480px) {
.btn.fa-search{ display:block;}
#SearchTool.collapse{ height:0;}
.SearchBar ul.pull-right{ border:none; border-bottom:#ccc dotted 1px;}
.SearchBar ul,.SearchBar ul.pull-right{  width:100%; float:none; padding:10px 0;}
input.search-query{ width:90%;}	

/*線上繳款並列特殊按鈕樣式設定*/
.btn-group-block .btn-primary{ width:100%;}

.SearchBar select{ width:80%;}

.list_function img{ width:20%;}
.list_function .caption{ width:70%;}
.list_FuncQA > li{ width:45%;}
}

/*寬最大360px*/
@media (max-width: 320px) {
input.search-query{ width:70%;}
.list_FuncQA > li{ width:100%;}





}